.main {
  position: relative;
  width: 100%;
  padding-top: 70px;
}
.main .inner {
  flex-direction: column;
}
.main-top {
  width: 100%;
  display: flex;
  gap: 2.564vw;
}

/* .main-banner {
  max-width: 770px;
  max-height: 470px;
  aspect-ratio: 770 / 470;
  background-color: pink;
} */

.main-banner {
  width: 65.81vw;
  max-width: 770px;
  height: 40.25vw;
  max-height: 470px;
  border-radius: 20px;
  overflow: hidden;
  /* background-color: pink; */
}
.banner-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.banner-wrap .swiper {
  width: 100%;
  height: 100%;
}
.banner-wrap .swiper-slide {
  width: 100%;
  height: 100%;
}
